.sidebar {
  width: 100%; /* Ancho completo */
  background-color: #e49090; /* Color de fondo de la barra */
  color: #fff; /* Color del texto */
}
.links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;  
}

.links a {
  text-decoration: none;
  color: #333;
  margin-right: 2em;
}

.links a:hover {
  color: #b50d0d; 
}

ul {
  padding: 0;
  margin: 0;
  display: flex; /* Mostrar elementos en línea */
  
}

li {
  margin-right: 20px; /* Espaciado entre elementos de la lista */
}

li:last-child {
  margin-right: 0; /* Eliminar el margen del último elemento */
}

li a {
  color: #fff; /* Color del texto del enlace */
  text-decoration: none; /* Eliminar subrayado del enlace */
}

li a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse sobre el enlace */
}
